<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading') %></h2>

  <div class="container">
    <div class="mx-5 mb-4 flex items-center">
      <%= render 'shared/reward_search_sort', url: user_rewards_path %>
    </div>

    <div class="list">
      <% @user_rewards.each do |habit_reward| %>
        <%= render partial: 'shared/reward_card', locals: { reward: habit_reward.reward, habit_reward: habit_reward } %>
      <% end %>
    </div>

    <div class="text-center my-10">
      <%= paginate @user_rewards %>
    </div>
  </div>
</div>
