<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-rose-700">Admin Dashboard</h2>

  <div class="container mx-auto w-full max-w-2xl">
    <ul>
      <li class="my-5">
        <%= link_to 'Manage Rewards', admin_rewards_path, class: 'btn btn-outline w-full' %>
      </li>
      <li class="my-5">
        <%= link_to 'Manage Users', admin_users_path, class: 'btn btn-outline w-full' %>
      </li>
      <li class="my-5">
        <%= link_to 'Manage Habits', admin_habits_path, class: 'btn btn-outline w-full' %>
      </li>
    </ul>
  </div>
</div>
