<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reward Details</h2>

  <p>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @reward.name %>
    </div>
  </p>

  <p>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @reward.description %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Condition:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @reward.condition %>
    </div>
  </p>

  <%= link_to 'Back to Rewards', rewards_path %>
</div>
