<% if @unlogged_habit_logs.present? %>
  <div class="alert alert-warning">
    <p><%= t('unlogged_habit_logs.alert.message') %></p>
    <%= link_to t('unlogged_habit_logs.alert.link'), unlogged_habit_logs_path, class: 'alert-link', data: { turbo_frame: '_top' } %>
  </div>
<% end %>
