<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading') %></h2>

  <%= render 'form', habit: @habit, button_text: t('helpers.submit.update') %>

  <div class="mt-5 mb-10">
    <%= link_to t('.back'), request.referer || habits_path, class: "btn btn-primary btn-outline w-full" %>
  </div>
</div>
