<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 mx-5"><%= t('.heading') %></h2>

  <div class="mx-5">
    <%= render 'form', habit: @habit, button_text: t('helpers.submit.create') %>

    <div class="mt-5 mb-10">
      <%= link_to t('.back'), habits_path, class: "btn btn-primary btn-outline w-full" %>
    </div>
  </div>
</div>
