<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Unlogged HabitLogs</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @unlogged_habit_logs.each do |log| %>
        <%= render partial: 'shared/unlogged_habit_log', locals: { log: log } %>
      <% end %>
    </tbody>
  </table>
</div>
